    * {
        font-family: Robo-Regular;
        color: #ffffff;
    }
    body {
        width: 1300px;
        height: 1200px;
        background-image: url('image/bg.jpg');
        background-repeat: no-repeat;
        background-size: 200%;
        background-position-x: 60%;
        background-color: black;
    }
    
    li {
        list-style-type: none;
        cursor:default;
    }
    form  {
        color: #ffffff;
    }
    input {
        border: 0px solid rgb(210, 144, 6);
        width: 180px;
        outline: none;
        background-color: rgb(43, 43, 43);
        color: white;
        }
        button {
            border: none;
            background-color: rgb(43, 43, 43);
            cursor: pointer;
        }
    textarea {
        opacity: 0;
        z-index: -1;
    }
    #big {
        overflow: hidden;
        display: none
    }
    .big {
        display: none;
        position: fixed;
    }
    .div-small {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: auto;
        height: auto;
        border: 3px solid rgb(210, 144, 6);
        cursor:none;
    }

    .small-img {
        width: auto;
    }

    .index span {
        display: block;
        color: #ffffff;
        cursor:default;
    }
    .Keyborad{
        cursor:default;
    }
    .ten {
        position: absolute;
    }

    #y {
        left: -50%;
        top: 0px;
    }

    #x {
        top: -50%;
        left: 0px;
    }

    #big img {
        position: relative; 
    }
    .li {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: rgb(240, 38, 38);
        border-radius: 50%;
    }
    .noli {
        display: none;
    }
    .icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;
        right: 10px;
        top:5px;
        cursor: pointer;
    }
    #help {
        position: absolute;
        background-image: url('image/help.svg');
    }
    #close {
        width: 25px;
        right: none;
        left: 5px;
        position: relative;
        background-image: url('image/close.svg');
    }
    #tip {
        display: none;
        position: absolute;
        width: auto;
        height: auto;
        font-size: 12px;
        bottom: 50px;
        left:35%
    }
    div #help-index {
        display: none;
        position: absolute;
        cursor: default;
        width: 50%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        left: 25%;
        top: 15%;
        text-align: center;
        z-index: 999;
    }
    div #help-index .text {
        width: 100%;
        height: 100%;
        overflow:auto;
    }
    div #help-index h5{
        text-align: left;
    }
    div #help-index .furthermore {
        font-size: 10px;
        color: rgb(134, 134, 134);
    }
    .mask {
        display: none;
        position: absolute;
        top:0px;
        left: 0px;
        width: 200rem;
        height: 200rem;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 998;
    }
    .div {
        color:rgb(255, 255, 255);
    }

    .menu {
        position: relative;
        margin: 10px 0px;
        padding: 0;
        font-size: 18px;
    }
    .pa {
        background-color: rgb(43, 43, 43);
        width: 690px;
    }
    .pa input {
        color: rgb(210, 144, 6);
        font-size: 20px;
    }
    .pa p {
        margin: 0px;
    }
    .pa h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pa #father {
        display: inline-block;
        margin: 0px 20px;
        width: 100px;
    }
    .pa #son {
        margin: 0px 20px;
        background-image: url("image/son_bg.PNG");
        background-repeat: no-repeat;
        background-position: 2%;
    }
    /* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile >12
   - Android Browser 2.1-4.4.4
   - Samsung Internet
   - UC Browser for Android
   - QQ Browser */
    .pa #perant_inf input::-webkit-input-placeholder {
        font-size: 14px;
    }
    /* Firefox 4-18 */
    .pa #perant_inf input:-moz-placeholder {
        font-size: 14px;
    }
    
    /* Firefox 19-50 */
    .pa #perant_inf input::-moz-placeholder {
        font-size: 14px;
    }
    
    /* - Internet Explorer 10–11
       - Internet Explorer Mobile 10-11 */
    .pa #perant_inf input:-ms-input-placeholder {
        font-size: 14px !important;
    }
    
    /* Edge (also supports ::-webkit-input-placeholder) */
    .pa #perant_inf input::-ms-input-placeholder {
        font-size: 14px;
    }
    
    /* CSS Working Draft */
    .pa #perant_inf input::placeholder {
        font-size: 14px;
    }

    .pa #father_text ,.pa #mother_text {
        display: inline-block;
        margin-left: 10px;
    }
    .pa #mother_text{
        margin-left: 170px;
    }
    .pa .son_text {
        display: inline-block;
        width: 5em;
        padding-right: 80px;
    }
    .pa #father_text li,.pa #mother_text li {
        display: block;
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 5em;
    }
    .pa .son_text li {
        display: block;
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 15px;
        width: 5em;
        color: rgb(216, 216, 216);
    }
    .pa #son_val_left li, .pa #son_val_right li{
        display: block;
        padding-top: 10px;
        padding-bottom: 11px;
    }
    .pa .son_text,.pa .son_val {
        display: inline-block;
    }
    .pa .son_val input {
        font-weight: 600;
        width: 7em;
        background-color: rgba(0, 0, 0, .0);
    }
    .pa #son_right {
        display: inline-block;
        margin-left: 20px;
    }
    .pa #son_left {
        display: inline-block;
        margin-left: 5px;
    }
    .pa #son h2 {
        margin: 5px;
        color: rgb(210, 144, 6);
        font-weight: 450;
        
    }
    .pa #mother {
        display: inline-block;
        margin: 0px 20px;
        width: 100px;
    }
    .pa li {
        display: inline;
    }
    .pa #son {
        display: none;
    }
    .pa #son #bloodline_quality, .pa #son #bloodline_quality input{
        font-size: 34px;
        font-weight: 550;
    }
    .pa #son #bloodline_quality #bloodline_quality_val {
        padding-left: 300px;
    }
    .pa #son #bloodline_quality input {
        background-color: rgba(0, 0, 0, .0);
    }
    .pa .min{
        display: block;
        background-color:rgb(20, 20, 20);
        margin: 10px;
        width: 25em;
    }
    .menu li{
        display: inline;
        list-style: none;
    }
    .set ul {
        padding: 0px 0px 0px 20px;
    }
    .set li{
        position: relative;
        width: 80%;
        height: 40px;
        margin: 20px 0px;
        color: #ffffff;
    }
    .set li:hover{
        background-color: rgba(255, 255, 255, 0.397);
    }
    #on::before{
        position: absolute;
        width: 101%;
        height: 110%;
        right: -5px;
        top: -4px;
        content: '';
        border: 2px white solid;
        animation: b .5s linear 0s infinite alternate;
    }
    .set li span{
        position: relative;
        top: 10px;
        left: 6px;
    }
    .set li .left{
        position: absolute;
        width: 18px;
        height: 18px;
        top: 4px;
        left: unset;
        right: 130px;
        transform-origin: 0% 0%; 
        transform: rotate(45deg);
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        opacity: 0.7;
    }
    .set li .right{
        position: absolute;
        width: 18px;
        height: 18px;
        top: 4px;
        left: unset;
        right: 30px;
        transform-origin: 0% 0%; 
        transform: rotate(45deg);
        border-right: 3px solid white;
        border-top: 3px solid white;
        opacity: 0.7;
    }
    .set li .text{
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: unset;
        right: 96px;
    }
    .menu li a {
        position: relative;
        padding: 10px 20px;
        margin: 20px 0px;
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
    }
    .menu li a:last-child {
        position: relative;
        padding: 10px 20px;
        margin: 0px 0px 0px 10px;
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
    }

    ul .li1-border {
        position: absolute;
        top: -4px;
        left: 14px;
        width: 100px;
        height: 30px;
        border: 1px white solid;
        box-shadow: 0px 0px 1px 1px white;
        animation: a .5s linear 0s infinite alternate;
    }
    ul .li2-border {
        position: absolute;
        top: -4px;
        left: 118px;
        width: 100px;
        height: 30px;
        border: 1px white solid;
        box-shadow: 0px 0px 1px 1px white;
        animation: a .5s linear 0s infinite alternate;
    }
    ul .li3-border {
        position: absolute;
        top: -4px;
        left: 222px;
        width: 100px;
        height: 30px;
        border: 1px white solid;
        box-shadow: 0px 0px 1px 1px white;
        animation: a .5s linear 0s infinite alternate;
    }

    @keyframes a {
        0%{
            opacity: 0.9;
            transform:scale(1.06);
        }
        100%{
            opacity: 0.5;
            transform:scale(1);
        }
    }
    @keyframes b {
        0%{
            opacity: 0.9;
            transform:scale(1.01,1.1);
        }
        100%{
            opacity: 0.5;
            transform:scale(1,1);
        }
    }
    @font-face {
        font-family: Robo-Regular;
        src: url("Robo-Regular.ttf");
    }

